@import "tailwindcss";
@theme default {
  --font-poppins: 'poppins',
  --color-brown: #AEA46B,
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);  
  font-family: Arial, Helvetica, sans-serif;
}

.display-none {
  display: flex;
}

.display-none-block {
  display: block;
}

.display-flex {
  display: none;
}

.display-block {
  display: none;
}

.bounce {
  animation: bounces 14s infinite;
}

@keyframes bounces {
  0% {
    transform: translateY(20);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20);
  }
}


@media (min-width: 320px) and (max-width: 767px) {
  .display-flex {
    display: flex;
  }

  .display-block {
    display: block;
  }

  .display-none,
  .display-none-block {
    display: none;
  }
}

/* background color */
/* Green */
/* bg-[linear-gradient(170deg,_#BDFF00_0%,_#00AD03_81%)] */

/* Water Blue */
/* bg-[radial-gradient(circle,_rgba(0,151,220,1)_0%,_rgba(110,199,240,1)_100%)] */
/* bg-[radial-gradient(circle,_rgba(110,199,240,1)_0%,_rgba(0,151,220,1)_100%)] */

/* Dirt */
/* bg-[radial-gradient(circle,_#810000_0%,_#5C0000_100%)] */

/* Air */
/* bg-[radial-gradient(circle,_#6BB3F6_0%,_#7597B8_100%)] */

/* text color */
/* text-transparent bg-clip-text bg-[linear-gradient(170deg,_#BDFF00_0%,_#00AD03_81%)] */
/* text-transparent bg-clip-text bg-[radial-gradient(circle,_rgba(0,151,220,0.21)_0%,_rgba(110,199,240,1)_100%)] */